.login {
    background-color: black;
    width: 100%;
    height: 100%;
  }
  
  .bg_img {
    width: 65%;
    z-index: 0;
    margin-top: 120px;
  }
  
  h1 {
    color: #fff;
  }
  
  .login_card {
    display: flex;
    background: #fff;
    position: absolute;
    right: 3%;
    top: 8%;
    bottom: 5%;
    left: 68%;
    align-items: center;
  
    align-content: center;
    justify-content: space-around;
    border-radius: 30px;
    z-index: 5;
  }
  
  .login_button {
    display: flex;
    width: 223px;
    height: 45px;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 2px 4px 17px -5px rgb(0 0 0 / 20%);
    border-radius: 9px;
    text-align: center;
  }
  
  img.login_img {
    width: 45px;
    height: 45px;
  }
  
  p.login_p {
    margin: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #4285f4;
  }
  
  .login_p1 {
    position: absolute;
    left: 10.68%;
    top: 8.83%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.5px;
    color: #ffffff;
    width: 50%;
    z-index: 5;
  }
  
  .App {
    position: absolute;
    font-family: Poppins;
    background-color: black;
    min-height: 600px;
    min-width: 100%;
    display: flex;
  }