@media (max-width: 600px) {
    .pop_card {
      height: 230px;
    }
  }
  
  .popup {
    /*background: rgba(216, 216, 216, 0.3); */
    width: 75vw;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 0%;
    
  }
  .pop_card {
    background: #ffffff;
    /* border: 1px solid #bbbbbb; */
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
    /* z-index: 10; */
    width: 52vw;
    height: 190px;
    padding: 15px;
    padding-left: 22px;
    display: flex;
    align-items: center;
    
    /* margin-top: 100px;*/
  }
  
  img.profile42 {
    width: 80px;
    height: 80px;
  }
  .pop_col1 {
    width: 106px;
  }
  .pop_flex {
    display: flex;
  }
  
  img.icon1 {
    width: 12px;
    height: 12px;
    margin-right: 6px;
    margin-top: 25px;
  }
  
  img.icon2 {
    width: 14px;
    height: 18px;
    margin-right: 6px;
    margin-top: 5px;
  }
  
  p.pop_p1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #5961f9;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  
  p.pop_p2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.5px;
    color: #8eadff;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 2px;
  }
  
  hr.pop_hr {
    border: 1px solid #dedede;
    width: 210px;
    margin: 6px;
  }
  
  hr.pop_hr2 {
    border: 1px solid #dedede;
    transform: rotate(-90deg);
    width: 5%;
    position: absolute;
    margin: 35px 0px 0px 194px;
  }
  
  .pop_row1 {
    margin-left: 5px;
  }
  p.pop_p3 {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #a5a5a5;
    margin: 10px 5px 4px 30px;
  }
  
  p.pop_p4 {
    background: #dee7ff;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.5px;
    color: #5374cc;
    max-width: 54px;
    padding: 1px 22px;
    margin: 0px;
  }
  
  p.pop_p5 {
    background: #dee7ff;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.5px;
    color: #5374cc;
    max-width: 93px;
    padding: 1px 4px;
    margin: 0px;
    margin-left: 14px;
  }
  
  .pop_col3 {
    width: 60%;
    height: 142px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .pop_row3 {
    margin: 2px 5px;
  }
  
  input.b_pop1 {
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    box-shadow: 2px 4px 17px -5px rgb(0 0 0 / 20%);
    border-radius: 10px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 15px;
    width: 100px;
    height: 35px;
    letter-spacing: 0.5px;
    color: #ababab;
    text-transform: uppercase;
    background-color: #fff;
  }
  
  .b_pop1:hover {
    background: #4285f4;
    color: #ffffff;
  }
  
  .pop_row2 {
    align-self: flex-end;
  }
  
  