@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  font-family: Poppins;
  background-color: black;
  /* height: 100vh; */
  /* width: 100vw; */
}
.sidebarHome {
  position: fixed;
  left: 5.52%;
  right: 80.31%;
  top: 10.64%;
  /* bottom: 54.99%; */
  display: flex;
  /* align-items: left; */
  flex-direction: column;
}

.logoImg {
  padding: 0px 10px;
  background-color: white;
  border-radius: 13px;
  height: 72px;
  width: 57px;
}
@media (max-height: 600px) {
  .logoImg {
    padding: 4px 10px;
    background-color: white;
    border-radius: 13px;
    height: 72px;
    width: 57px;
  }
}

.QCText {
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  padding: 8px 0px;
}

.dbText {
  color: white;
  font-size: 10px;
}

.homeText {
  color: white;
  padding: 50px 0px 0px 0px;
  font-size: 22px;
  font-weight: bold;
}

.main-content {
  position: relative;
  left: 19.88%;
  right: 2.45%;
  top: 3.15%;
  bottom: 3.24%;
  background: #f7f7f7;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 10px 0px;
}

.right-content {
  background-color: #ebf2ff;
  /* height: 93vh; */
  /* width: 20vw; */
  padding: 0px 10px;
  border-radius: 0px 30px 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-container {
  background: #ffffff;
  border: 1px solid #cacaca;
  border-radius: 30px;
  margin-left: 1vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* height: 84vh; */
  margin: 10px;
}
.backArrow {
  background-color: black;
  height: 30px;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
}
.form-content {
  margin: 20px;
}
.form {
  margin: 10px 0px 10px 0px;
  font-family: Inter;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  /* overflow: overlay; */
}
form::-webkit-scrollbar {
  width: 1em;
  border-radius: 20px;
}
.myInputField {
  margin-top: 5px;
  width: 30vw;
  font-size: 14px;
  color: gray;
  padding: 5px 10px;
}
.panCardContainer {
  margin-top: 5px;
  height: 125px;
  width: 31.5vw;
  display: flex;
  background: #f7f8fc;
  border: 1px dashed #5961f9;
  justify-content: center;
  align-items: center;
}
.panImg {
  height: 7vw;
  width: 20vw;
}
.invalidInput {
  background-color: #e0eaff;
}
.invalidInputText {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Poppins;
  font-style: italic;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  /* text-align: center; */
  color: #005eff;
}

.inputContainer {
  margin-top: 10px;
}
.backArrowImg {
  height: 14px;
}
.inputAndYesNo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.yesNo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.btn {
  height: 25px;
  width: 50px;
  margin-right: 30px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
}
.yesBtn {
  background: #007a5a;
  color: white;
}
.noBtn {
  background: #e2664b;
  color: white;
}

.remarkIcon {
  display: flex;
  flex-direction: row;
  justify-content: start;
  color: #1d1c1d;
  font-family: Lato;
  font-weight: 900;
}
.remark {
  background: #fbfbfb;
  border: 1px solid rgba(29, 28, 29, 0.13);
  border-radius: 16px;
  padding: 20px;
  overflow: overlay;
  width: 18vw;
  margin: 10px 0px;
}
.remark::-webkit-scrollbar {
  width: 1em;
  border-radius: 1px;
}
.qcScore {
  background: white;
  border: 1px solid rgba(29, 28, 29, 0.13);
  border-radius: 16px 16px 0px 0px;
  width: 21vw;
  margin: 0px 0px 20px 0px;
}
.qcContent {
  display: flex;
  justify-content: center;
  width: 18vw;
  height: 47px;
  text-align: center;
  font-size: 13px;
  border: 1px solid #005eff;
  border-radius: 15px;
}
.qcStyle {
  background: #005eff;
  border-radius: 15px;
  height: 30px;
  width: 80px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  margin: 10px 0px -10px 18px;
}
.qcScoreText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 20px 0px 10px 20px;

  /* 1) Theme Color / Heading & Display - Text */

  color: #5e5873;
}

.redoText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 49px;
  /* identical to box height */

  text-align: center;

  color: #565656;
  background: #ebebeb;
  /* padding: 25px 50px; */
}
.donutStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.donutLegend {
  margin: 57px 0px -83px 0px;
  z-index: 1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  text-align: center;

  color: #5e5873;
}
.warningIcon {
  margin-right: 5px;
}
.qcscoreComp2Container {
  padding: 10px 10px;
}
.btnsContainer {
  display: flex;
  flex-direction: row;

  /* width: 15vw; */
  align-items: center;
  justify-content: space-around;
}
.qcScoreBtn {
  font-family: Poppins;
  padding: 5px;
  font-size: 10px;
  color: #ababab;
  font-weight: 600;
  text-align: center;
  background: white;
  min-width: 5vw;
  border: 1px solid #b7b7b7;
  outline: none;
}
.qcScoreBtn:focus {
  background: #467fff;
  color: white;
}

.activateQcScoreBtn{
  color:black;
  background: white;
  border:1px solid black;
}

.qcInvalid{
  width:20vw;
  margin-bottom:10px;
  text-align: center;
}
.qcscoreComment{
  display: flex;
    justify-content: center;
    align-items: center;
}
.commentInput{
  border: 1px dashed #5961F9;
  background: #F7F8FC;
  height: 41px;
    width: 20vw;
    /* text-align: center; */
    padding:0px 20px;
    
}
.commentInput:focus{
  border: 1px dashed #5961F9;
  background: #F7F8FC;
  height: 41px;
    width: 20vw;
    /* text-align: center; */
    outline:none;
}
.commentInput::placeholder{
  /* padding:10px; */
  color: #005EFF;
  font-family: Poppins;
}
.qcCheckDoneContainerParent{
  /* height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #000000;
  font-size: 14px; */
  height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #000000;
    font-size: 14px;
    position: fixed;
    z-index: 1;
}
.illustrationImg{
  height:200px;
}
.qcCheckDoneContainer{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  box-shadow:0px 0px 20px 2px rgb(179, 178, 178);
  padding: 20px 60px;
}
.myBlur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.stackTop{
  z-index:2;
}
.qcOkayBtn{
  background-color: black;
  color:white;
  font-weight: 700;
  border-radius: 8px;
  outline:none;
  padding:10px 20px;
  margin:10px;
}
.qcOkayBtn:focus{
  outline: none;
  
}
.homeHover{
  cursor:pointer;
}
.disableClick{
  pointer-events:"none" !important; 
}